<%- include('partials/header') %>

<div class="row">
    <div class="col-2 roomInfo">
        <div class="titleContainer">
            <h3 class="title">Game Info</h3>
        </div>
        <p class="sideTitle">Game ID</p>
        <p><%- roomId %></p>
        <p class="sideTitle">Starting Page</p>
        <p><%- startPage %></p>
        <p class="sideTitle">End Page</p>
        <p><%- endPage %></p>
        <div class="titleContainer">
            <h3 class="title">Player Info</h3>
        </div>
        <ul id="usersList">

        </ul>
    </div>
    <div class="iframeContainer col-10">
        <iframe id="gameFrame"></iframe>
    </div>
</div>
<script>
    const protocol = window.location.protocol;
    const socket = io('/', { secure: true });
    $(document).ready(() => {
        // Add disconnect function to body
        $('body').attr('onunload', "disconnectEvent();");
        $('#gameFrame').attr('onLoad', 'iframeChanged()');
        const startPage = encodeURIComponent(`<%- startPage %>`)
        $('#gameFrame').attr('src', `/room/<%- roomId %>/wiki/${startPage}`);
        iframeChanged();
        socket.on('update', (data) => {
            const cleanData = JSON.parse(data);
            const users = cleanData.users;
            let html = [];
            for (let i = 0; i < users.length; i++) {
                user = users[i];
                if (users[i].userId === "<%- userId %>") {
                    html.push(html[0]);
                    html[0] = (`<li class=${user.found ? "found" : ""}>${user.username} - ${user.currentUrl.charAt(0).toUpperCase() + user.currentUrl.slice(1)}</li>`)
                } else {
                    html.push(`<li class=${user.found ? "found" : ""}>${user.username} - ${user.currentUrl.charAt(0).toUpperCase() + user.currentUrl.slice(1)}</li>`)
                }
            }
            $('#usersList').html(html.join(""));
        })
    })
    // URL Update Function (when iframe changes)
    const iframe = document.getElementById('gameFrame');
    iframeChanged = () => {
        // Runs every time iframe link is changed
        $('#gameFrame').on('load', () => {
            const innerDoc = iframe.contentDocument || iframe.contentWindow.document;
            let title;
            if (innerDoc.getElementById('wikiPageTitle')) {
                title = innerDoc.getElementById('wikiPageTitle').innerHTML;
            } else {
                title = "None";
            }

            // Emit URL update socket event
            socket.emit('urlUpdate', {
                roomId: "<%- roomId  %>",
                userId: "<%- userId %>",
                currentUrl: title
            })
            if (title === "<%- endPage %>") {
                socket.emit('foundPage', {
                    roomId: "<%- roomId %>",
                    userId: "<%- userId %>"
                })
            }
        })
    }
    $(window).on('unload', function () {
        disconnectEvent();
    });
    disconnectEvent = () => {
        socket.emit('leaveRoom', {
            roomId: "<%- roomId %>",
            userId: "<%- userId %>"
        })
    }

</script>

<%- include('partials/footer') %>